/* Style the tab links */
.tab button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  width: 33.33%;
  float: left;
  font-family: var(--calcite-sans-family);
}

.tab button:hover {
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px;
  background-color: white;
  border-top: none;
}

/* Style the active tab */
.tab button.active {
  background-color: #ccc;
}
/* CSS to style the popups and control their width */
.esri-popup__main-container {
  max-width: none !important; /* Remove the default max-width */
  width: auto !important; /* Ensure the width is based on content */
 }

.esri-popup__content {
  width: auto !important; /* Allow content width to adjust */
}
