/* Style the tab links */
.tab button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  width: 33.33%;
  float: left;
  font-family: var(--calcite-sans-family);
}

.tab button:hover {
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px;
  background-color: white;
  border-top: none;
}

/* Style the active tab */
.tab button.active {
  background-color: #ccc;
}

.info-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ccc; /* Example background color */
  color: #fff; /* Example text color */
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  cursor: pointer; /* Indicate it's interactive */
  margin-left: 5px; /* Add some spacing */
  position: relative; /* For positioning the tooltip */
}

.info-icon::before {
  content: attr(data-tooltip); /* Get the tooltip text from the data attribute */
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  font-size: 10px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0s linear 0.3s;
  top: 50px; /* Adjust position as needed */
  left: calc(100% + 10px);
  transform: translateY(-50%);
  z-index: 1;
}

.info-icon:hover::before {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
