/* Style the tab links */
.tab button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  padding: 10px 20px;
  cursor: pointer;
  width: 33.33%;
  float: left;
}

.tab button:hover {
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px;
  background-color: white;
  border-top: none;
}

/* Style the active tab */
.tab button.active {
  background-color: #ccc;
}
